<section id="links">
  <ul>
    <% @links.each do |link| %>
      <% if link.url %>
        <li><a id="<%= link.name %>" href="<%= link.url %>" alt=""><%= link.name %></a></li>
      <% end %>
    <% end %>
  </ul>
</section>