<section id="links">
  <ul>
    <% @links.each do |link| %>
      <% if link.link_value %>
        <li><a id="<%= link.link_name %>" href="<%= link.link_value %>" alt=""><%= link.link_name %></a></li>
      <% end %>
    <% end %>
  </ul>
</section>