<section class="module links">
  <% if @links.count > 0 %>
    <ul>
      <% @links.each do |l| %>
        <% if l.url %>
          <li><a id="<%= l.name %>" href="<%= l.url %>" alt=""><%= l.name %></a></li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</section>