<section id="login">
  <form name="login-form" action="/login" method="post">
    <ul>
      <li>
        <label>Username</label></dt>
        <input type="text" name="user">
      </li>
      <li>
	    <label>Password</label></dt>
        <input type="password" name="pass">
      </li>
      <li>
        <input type="submit" value="Login">
      </li>
    </ul>
  </form>
</section>