<section id="setup">
	<form name="setup-form" action="/setup" method="post">
		<dl>
			<dt><label>Email</label></dt><dd><input type="text" name="email"></dd>
			<dt><label>Title</label></dt><dd><input type="text" name="title"></dd>
			<dt><label>Subtitle</label></dt><dd><input type="text" name="subtitle"></dd>
			<dt><label>Caption</label></dt><dd><input type="text" name="caption"></dd>
			<dt><label>Location</label></dt><dd><input type="text" name="location"></dd>
			<dt><label>Bio</label></dt><dd><textarea></textarea></dd>
		</dl>
	</form>
</section>
