<section id="setup">
	<form name="setup-form" action="/setup" method="post">
		<ul>
			<li>
				<label>Email</label>
				<input type="text" name="email">
			</li>
			<li>
				<label>Title</label>
				<input type="text" name="title">
			</li>
			<li>
				<label>Subtitle</label>
				<input type="text" name="subtitle">
			</li>
			<li>
				<label>Caption</label>
				<input type="text" name="caption">
			</li>
			<li>
				<label>Location</label>
				<input type="text" name="location">
			</li>
			<li>
				<label>Bio</label>
				<textarea name="bio"></textarea>
			</li>
		</ul>
		<input type="submit" value="Save">
	</form>
</section>
