

/* @group Config Bar */

/* @group Bar Styles */

#config-bar
{
	position: absolute;
	top: 0px;
	left: 0px;
	width:  100%;
	border-bottom: 1px solid #ddd;
	font-size: 1em;
	line-height: 2.5em;
}

#config-nav
{
	float: left;
	margin-left: 1em;
}

#config-admin
{
	float: right;
	margin-right: 1em;
}
#config-nav > li, #config-admin > li
{
	display: inline;
	list-style-type: none;
	position: relative;
}
#config-nav > li
{
	padding-right: 20px;	
}
#config-admin > li
{
	padding-left: 20px;	
}
/* @end */

/* @group Form Styles */
.config-bar-menu
{
	position: absolute;
	top: 1em;
	left: 0em;
	width: 400px;
	border:  1px solid #ddd;
	display: none;
	background: #fff;
	padding: 10px 30px;
}

.config-bar-menu form li
{
	clear: left;
	display: list-item;
	padding: 0px;
	
}

.config-bar-menu form li label
{
	width: 200px;
	float: left;
}

.config-bar-menu form input
{
	width: 196px;
}

/* @end */
/* @end */