/* @override http://localhost:4567/css/style.css */

body {
	background: #FFFFFF;
	color: #333333;
  font-family: 'Droid Sans', arial, serif;
}

figure#avatar
{
  padding:10px;
  border: 1px solid #dfdfdf;
  display: block;
}
