/* @override http://localhost:4567/css/style.css */

body {
	background: #ffffff;
	color: #333333;
  font-family: 'Droid Sans', arial, serif;
  margin: 0px;
}

figure#avatar
{
  padding:7px;
  border: 2px solid #e3e3e3;
  display: block;
  width:175px;
  height:175px;
  float:left;
  background: #f3f3f3;  
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
}

figure#avatar img
{
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
}

#profile
{
  border-bottom:1px solid #dfdfdf;
  background: -moz-linear-gradient(top, #FFFFFF 0%, #FFFFFF 65%, #F0F0F0 100%);
  background: -webkit-gradient(linear, center top, center bottom, color-stop(0%,#FFFFFF), color-stop(65%,#FFFFFF), color-stop(100%,#F0F0F0));
  background: -o-linear-gradient(top, #FFFFFF 0%, #FFFFFF 65%, #F0F0F0 100%);
  background: linear-gradient(top, #FFFFFF 0%, #FFFFFF 65%, #F0F0F0 100%);
}

#profile #overview
{
  width: 600px;
  margin: 0px auto;
  margin-top: 115px;
}

#profile #details
{
  width:600px;
  margin: 0px auto;
  margin-top: 40px;
  margin-bottom: 50px;
  border-top: 1px solid #e3e3e3;
}

#profile h1
{
  margin: 0px;
}

#links
{
  height: 128px;
  border-top:1px solid #FFB8B5; 
  background: -moz-linear-gradient(top, #FFE4E3 0%, #FFFFFF 36%, #FFFFFF 100%);
  background: -webkit-gradient(linear, center top, center bottom, color-stop(0%,#FFE4E3), color-stop(36%,#FFFFFF), color-stop(100%,#FFFFFF));
  background: -o-linear-gradient(top, #FFE4E3 0%, #FFFFFF 36%, #FFFFFF 100%);
  background: linear-gradient(top, #FFE4E3 0%, #FFFFFF 36%, #FFFFFF 100%);
}

#links ul
{
  width:600px;
  margin: 0px auto;
}

#links ul li
{
  list-style-type: none;
  display: inline;
}

#links ul li a
{
  width: 40px;
  height:40px;
  text-indent:-1000em;
  display:block;
  float:left;
}

#links #twitter { background: url(/img/social/twitter.png); }
#links #facebook { background: url(/img/social/facebook.png); }
#links #linkedin { background: url(/img/social/linkedin.png); }
