/* @override http://localhost:4567/css/style.css */

body {
	background: #FFFFFF;
	color: #333333;
  font-family: 'Droid Sans', arial, serif;
}

figure#avatar
{
  padding:10px;
  border: 1px solid #dfdfdf;
  display: block;
  width:128px;
  height:128px;
  float:left;
}

#profile
{
  border-bottom:1px solid #dfdfdf;
  width: 600px;
  height: 373px;
  margin: 0px auto;
}

#links
{
  width:600px;
  margin: 0px auto;
}
